{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    <div class="mb-2">

        {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('category_index') }}" class="btn btn-light"><i class="fa fa-arrow-left"></i> Back to list</a>


    <div class="float-right">
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
